@using System.Threading.Tasks
@{
	ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
	<div class="col-md-2">
		<h2>Misc</h2>
		<ul>
			<li><a asp-controller="Misc" asp-action="Links">Links</a></li>
			@if (User.IsInRole("SuperAdmin"))
			{
				<li><a asp-controller="Misc" asp-action="Options">Options</a></li>
			}
		</ul>
	</div>
	<div class="col-md-2">
		<h2>Add</h2>
		<ul>
			<li><a asp-controller="Pet" asp-action="Add1">Add1</a></li>
			<li><a asp-controller="Pet" asp-action="Add2">Add2</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h2>Count</h2>
		<ul>
			<li><a asp-controller="Pet" asp-action="Count1">Count1</a></li>
			<li><a asp-controller="Pet" asp-action="Count2">Count2</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h2>Private</h2>
		<ul>
			<li><a asp-controller="Pet" asp-action="Private1">Private1</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h2>Display</h2>
		<ul>
			<li><a asp-controller="Display" asp-action="Display1">Display1</a></li>
			<li><a asp-controller="Display" asp-action="Display2">Display2</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h2>Comments</h2>
		<ul>
			<li><a asp-controller="Comment" asp-action="CSRF1">CSRF1</a></li>
			<li><a asp-controller="Comment" asp-action="CSRF2">CSRF2</a></li>
			<li><a asp-controller="Comment" asp-action="ShowComments">Show Comments</a></li>
		</ul>
	</div>
</div>
