@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@using SecurityTrainingSite.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (@UserManager.GetUserName(User) != null)
{
	<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a asp-controller="" asp-action="" title="Manage">Hello @UserManager.GetUserName(User)!</a>
			</li>
			<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-controller="Account" asp-action="Login">Log in</a></li>
	</ul>
}
